%h1 Searching items

- if(@your_items == nil && @items == nil)
  %h3 We can't search for nothing! Type something in the serach box to start looking!

- elsif(@your_items.size == 0 && @items.size == 0)
  %h3 We didn't find anything that matches your search. :(
- else
  - if(@your_items.size != 0)
    %h3 Your Items

    .row-fluid
      .span12
        .span2 Name

      - @your_items.each do |item|
        .span12
          .span2= link_to item.name, user_item_path(current_user, item)
  - if(@items.size != 0)
    %h3 Others' Items

    .row-fluid
      .span12
        .span2 Name
        .span2 User

      - @items.each do |item|
        .span12
          .span2= link_to item.name, user_item_path(item.user, item)
          .span2= link_to item.user.first_name + " " + item.user.last_name, user_items_path(item.user)
  - else
    %h3 No one else has anything that matches your search. :(
